In [14]:
from sklearn import datasets

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
from sklearn.metrics import roc_curve

In [17]:
import matplotlib.pyplot as plt

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [20]:
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix

In [21]:
dataset=pd.read_csv("Log_Reg_data.csv")

In [22]:
dataset.keys()

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [23]:
dataset.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [24]:
dataset.describe()

            tenure  MonthlyCharges
count  7043.000000     7043.000000
mean     32.371149       64.761692
std      24.559481       30.090047
min       0.000000       18.250000
25%       9.000000       35.500000
50%      29.000000       70.350000
75%      55.000000       89.850000
max      72.000000      118.750000

In [90]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
customerID          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 495.3+ KB

In [91]:
dataset.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [105]:
O=pd.get_dummies(dataset["PaymentMethod"],drop_first=True)
O.head()

   Credit card (automatic)  Electronic check  Mailed check
0                        0                 1             0
1                        0                 0             1
2                        0                 0             1
3                        0                 0             0
4                        0                 1             0

In [110]:
k=pd.get_dummies(dataset["PaperlessBilling"],drop_first=True)
k.head()

   Yes
0    1
1    0
2    1
3    0
4    1

In [111]:
p=pd.get_dummies(dataset["PhoneService"],drop_first=True)
p.head()

   Yes
0    0
1    1
2    1
3    0
4    1

In [112]:
L=pd.get_dummies(dataset["Contract"],drop_first=True)
L.head()

   One year  Two year
0         0         0
1         1         0
2         0         0
3         1         0
4         0         0

In [113]:
D=pd.get_dummies(dataset["Churn"],drop_first=True)
D.head()

   Yes
0    0
1    0
2    1
3    0
4    1

In [114]:
df_concat= pd.concat([dataset.tenure,D,p,L,k,O,dataset.MonthlyCharges,dataset.TotalCharges], axis=1)
print(df_concat.head())

   tenure  Yes  Yes  One year  Two year  Yes  Credit card (automatic)  \
0       1    0    0         0         0    1                        0
1      34    0    1         1         0    0                        0
2       2    1    1         0         0    1                        0
3      45    0    0         1         0    0                        0
4       2    1    1         0         0    1                        0

   Electronic check  Mailed check  MonthlyCharges TotalCharges
0                 1             0           29.85        29.85
1                 0             1           56.95       1889.5
2                 0             1           53.85       108.15
3                 0             0           42.30      1840.75
4                 1             0           70.70       151.65

In [115]:
df_concat.head()

,tenure,Yes,Yes,One year,Two year,Yes,Credit card (automatic),Electronic check,Mailed check,MonthlyCharges,TotalCharges
0,1,0,0,0,0,1,0,1,0,29.85,29.85
1,34,0,1,1,0,0,0,0,1,56.95,1889.5
2,2,1,1,0,0,1,0,0,1,53.85,108.15
3,45,0,0,1,0,0,0,0,0,42.30,1840.75
4,2,1,1,0,0,1,0,1,0,70.70,151.65

In [116]:
x=df_concat.iloc[:,[0,2,3,4,5,6,7,8,9]].values
y=df_concat.iloc[:,1]

In [117]:
x

array([[  1.  ,   0.  ,   0.  , ...,   1.  ,   0.  ,  29.85],
       [ 34.  ,   1.  ,   1.  , ...,   0.  ,   1.  ,  56.95],
       [  2.  ,   1.  ,   0.  , ...,   0.  ,   1.  ,  53.85],
       ...,
       [ 11.  ,   0.  ,   0.  , ...,   1.  ,   0.  ,  29.6 ],
       [  4.  ,   1.  ,   0.  , ...,   0.  ,   1.  ,  74.4 ],
       [ 66.  ,   1.  ,   0.  , ...,   0.  ,   0.  , 105.65]])

In [118]:
y

0       0
1       0
2       1
3       0
4       1
5       1
6       0
7       0
8       1
9       0
10      0
11      0
12      0
13      1
14      0
15      0
16      0
17      0
18      1
19      0
20      1
21      0
22      1
23      0
24      0
25      0
26      1
27      1
28      0
29      1
       ..
7013    0
7014    0
7015    0
7016    0
7017    0
7018    1
7019    0
7020    0
7021    1
7022    0
7023    0
7024    0
7025    0
7026    1
7027    0
7028    0
7029    0
7030    0
7031    0
7032    1
7033    0
7034    1
7035    0
7036    0
7037    0
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Yes, Length: 7043, dtype: uint8

In [119]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [120]:
logreg=LogisticRegression()

In [121]:
logreg.fit(x_train, y_train)

C:\Users\alliswell\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [122]:
predictions=logreg.predict(x_test)

In [123]:
predictions

array([0, 0, 0, ..., 1, 1, 0], dtype=uint8)

In [124]:
confusion_matrix(y_test,predictions)

array([[1145,  153],
       [ 214,  249]], dtype=int64)

In [125]:
logreg.score(x_test,y_test)

0.7915956842703009

In [126]:
precision_score(y_test,predictions)

0.6194029850746269

In [127]:
recall_score(y_test,predictions)

0.5377969762419006

In [132]:
f1_score(y_test,predictions)

0.5757225433526011