In [1]:
from sklearn.metrics import r2_score

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
from sklearn import datasets

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
dataset=pd.read_csv("Multiple_Linear_Regression_Advertising_data.csv")

In [90]:
dataset.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [110]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values.reshape(-1,1)

In [111]:
x.shape

(200, 3)

In [112]:
y.shape

(200, 1)

In [96]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=15)

In [97]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(160, 3)
(40, 3)
(160, 1)
(40, 1)

In [98]:
regressor=LinearRegression()

In [99]:
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [100]:
y_predictions=regressor.predict(x_test)

In [101]:
y_predictions[0]

array([8.0495603])

In [102]:
y_test[0]

array([9.7])

In [103]:
r2_score(y_test,y_predictions)

0.9064939179490465

In [104]:
dataset.head(5)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9