In [20]:
from sklearn.metrics import r2_score

In [21]:
import pandas as pd

In [22]:
import matplotlib.pyplot as plt

In [23]:
from sklearn import datasets

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
dataset=pd.read_csv("Visitor_Prediction_Multiple_Linear_Regression_data.csv")

In [27]:
dataset.head()

,Date,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A,Unnamed: 7
0,3/1/2017,183738,1260228,1706478,1060860448,0,0,NaN
1,3/2/2017,193763,1270561,1690727,1031846645,0,0,NaN
2,3/3/2017,210479,1248183,1726157,1010867575,0,0,NaN
3,3/4/2017,240061,1492913,1855353,1079194579,1,0,NaN
4,3/5/2017,446314,1594712,2041418,1357736987,0,0,NaN

In [28]:
dataset.shape

(80, 8)

In [29]:
df=pd.concat([dataset.Views_show,dataset.Views_platform],axis=1)

In [30]:
x=df
y=dataset.iloc[:,2].values

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=15)

In [32]:
regressor=LinearRegression()

In [33]:
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
y_predictions=regressor.predict(x_test)

In [35]:
y_predictions[0]

1935325.2137229221

In [36]:
y_test[0]

2135756

In [37]:
r2_score(y_test,y_predictions)

0.7562335733078689